// -----------------------------------------------------------------------------
// CSS for base elements
// -----------------------------------------------------------------------------

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

a {

}

.heading--divided {

}

.button {

}
