// -----------------------------------------------------------------------------
// CSS for base elements
// -----------------------------------------------------------------------------

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {

}

main {
  padding: 0 5em;
}

.heading {
  border-bottom: 1px solid silver;
  margin-bottom: 3em;
}

.heading__underlined {
  display: inline-block;
  border-bottom: 3px solid black;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 5em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.button {

}
